%p#notice= notice
%h1 Listing Registered Applications
%table.table.table-striped.table-bordered.table-hover
  %thead
    %caption Applications
    %tr
      %th id
      %th name
      %th{:colspan => "3"} Actions
  %tbody
    - @registered_applications.each do |registered_application|
      %tr
        %td
          = registered_application.id
        %td
          = registered_application.name
        %td= link_to 'Show', registered_application
        %td= link_to 'Edit', edit_registered_application_path(registered_application)
        %td= link_to 'Destroy', registered_application, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Registered application', new_registered_application_path
