%h1 Registered Applications

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th URL
      %th Verification Code
      %th
      %th

  %tbody
    - @registered_applications.each do |registered_application|
      %tr
        %td= registered_application.name
        %td= registered_application.url
        %td= registered_application.verification_code
        %td= link_to 'Show', registered_application, class: 'btn btn-xs btn-success'
        %td= link_to 'Edit', edit_registered_application_path(registered_application), class: 'btn btn-xs btn-info'
        %td= link_to 'Destroy', registered_application, class: 'btn btn-xs btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
.pull-right
  = link_to 'Register a new application', new_registered_application_path, class: 'btn btn-large btn-primary'
