= javascript_include_tag '//www.google.com/jsapi', 'chartkick'

%p#notice= notice

%h1
  = "#{@registered_application.name} (#{@registered_application.url})"

= pie_chart @events.group(:name).count
- if Rails.env.to_sym == :production
  = line_chart @events.group_by_day(:created_at).count

= link_to 'Edit', edit_registered_application_path(@registered_application), class: 'btn btn-success'
\|
= link_to 'Back', registered_applications_path
