- if user_signed_in?
  %li= link_to 'Edit account', edit_user_registration_path
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
  %li= link_to 'Register New App', new_registered_application_path
  %li= link_to 'List', registered_applications_path
- else
  %li= link_to 'Sign in', new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  - if current_user.admin?
    %li= link_to 'Users', users_path
